* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(13, 131, 139);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post {
  min-width: 500px;
  padding: 10px 10px 10px 10px;
  border: 2px solid #fff;
}

#button {
  background-color: rgb(34, 204, 216);
  border: 1px solid rgb(34, 204, 216);
  margin-top: 5px;
  padding: 10px;
  width: 100px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  cursor: pointer;
}

.active {
  border: 3px solid rgb(216, 213, 34);
  box-shadow: 0 0 5px 0 black;
}

.defaultText {
  margin-top: 10px;
  letter-spacing: 5px;
  display: none;
}

.items {
  margin-top: 10px;
  color: #fff;
}

.items li {
  list-style-type: none;
  padding: 15px;
  border: 1px solid rgb(216, 213, 34);
  margin-top: 10px;
  width: 500px;
}

span {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  padding: 5px;
  margin-top: 10px;
  background-color: rgb(216, 213, 34);
  font-size: 14px;
  border: 1px solid rgb(216, 213, 34);
  cursor: pointer;
}
